# Django
SECRET_KEY=your-django-secret-key-here
DJANGO_SUPERUSER_USERNAME=your-username-here
DJANGO_SUPERUSER_EMAIL=your-email-here
DJANGO_SUPERUSER_PASSWORD=your-password-here

# PostgreSQL
POSTGRES_DB=kanmind
POSTGRES_USER=kanmind_user
POSTGRES_PASSWORD=your-password-here
POSTGRES_HOST=db
POSTGRES_PORT=5432